[submodule "AkariRenderer/Lib/imgui"]
	path = AkariRenderer/Lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "AkariRenderer/Lib/assimp"]
	path = AkariRenderer/Lib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "AkariRenderer/Lib/entt"]
	path = AkariRenderer/Lib/entt
	url = https://github.com/skypjack/entt.git
[submodule "AkariRenderer/Lib/stb"]
	path = AkariRenderer/Lib/stb
	url = https://github.com/nothings/stb.git
